/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    color: #000080;
    margin: 0;
    padding: 0;
}

/* Navigation */
nav ul {
    list-style-type: none;
    background-color: #000080;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Home Section */
#home {
    text-align: center;
    padding: 100px;
    background-color: #40E0D0;
    color: #FFFFFF;
}

#home h1 {
    font-size: 2.5rem;
}

#home a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #000080;
    color: #FFFFFF;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #000080;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}
